
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Baseline version
      </h1>
      <p>
        This version represents an interactive version of wireframes that were initially tested with users.
      </p>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "View linear journey",
      href: "./ea/index.html"
      }) }}

    </div>
  </div>

{% endblock %}
