{% include  './header.html' %}

<section>
    <h1>About the public registers</h1>

    <p>
        The Environment Agency licenses industry, business and individuals to
        carry out certain activities that have the potential to pollute
        the environment. When we receive an application for such a licence,
        we make that application and other relevant information available
        to the public. We do this before we make the decision of whether
        to issue the licence, or what conditions we will attach to it.
    </p>
    <p>
        After any permit is issued, further information is also made available
        on the registers. This can typically include monitoring information,
        details of any breaches of the terms of the licence, any enforcement
        actions that we have carried out and any applications to vary the
        terms of the licence.
    </p>
    <p>
        Carriers and brokers registered with the Scottish Environment Protection
        Agency are also authorised to operate in England and Wales.
        You can check companies <a href="http://www.sepa.org.uk/regulations/waste/waste-carriers-and-brokers/">registered in Scotland</a>.
    </p>
    <p>Carriers and brokers registered with the Natural Resources Wales are also authorised to operate in England and Scotland. You can check companies and individuals <a href="http://naturalresources.wales/how-we-regulate-you/find-out-if-a-site-has-a-permit-licence-or-exemption/?lang=en">registered in Wales</a>.</p>
    <p>
        If the Carrier or Broker you are looking for does not appear on the
        register, please check this with us by calling
        <span itemprop="telephone">
      <a href="tel:+443708506506">03708 506 506</a></span>.
    </p>
    <h2>Related links</h2>
    <p>
        <a href="coverage">What do the registers cover?</a>
        <br>
        <a href="http://www.environment-agency.gov.uk/maps">What's in your back yard (WIYBY)?</a>
        <br />
        <a href="http://www.unece.org/env/pp/welcome.html">UNECE Aarhus web site</a>
    </p>
</section>

{% include  './footer.html' %}
