{% include  '../../header.html' %}

<section>
    <h1>Environmental Permitting Regulations – Radioactive Substances</h1>
    <p>Permits issued to organisations who keep or use radioactive substances, or store or dispose of radioactive waste.</p>
    <p>
        Search for matching permits by holder name,
        permit number or site location.
    </p>
    <p>
        If you are looking for offshore permits, use the term <em>offshore</em> in the address field.
    </p>


    <form class="form-horizontal" role="search" method="get" action="/public-register/radioactive-substance/registration">
        <input id="easting" name="easting" type="hidden">
        <input id="northing" name="northing" type="hidden">

        <div class="form-group">
            <label for="name-search" class="control-label col-md-2">
                Permit holder
            </label>
            <div class="col-md-6">
                <div class="input-group">
                    <input id="name-search" type="search" class="form-control search-box" name="name-search" placeholder="Complete or partial business name, if known">
                    <span class="input-group-addon search-clear"><i class="fa fa-times"></i></span>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label for="number-search" class="control-label col-md-2">
                Permit number
            </label>
            <div class="col-md-6">
                <div class="input-group">
                    <input id="number-search" type="search" class="form-control search-box" name="number-search" placeholder="Permit number, if known">
                    <span class="input-group-addon search-clear"><i class="fa fa-times"></i></span>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label for="la-search" class="control-label col-md-2">
                Local Authority
            </label>
            <div class="col-md-6">
                <div class="input-group">
                    <input id="la-search" type="search" class="form-control search-box ui-autocomplete-input" name="local-authority" placeholder="Name of Local Authority (optional)" autocomplete="off">
                    <span class="input-group-addon search-clear"><i class="fa fa-times"></i></span>
                </div>

            </div>
        </div>


        <div class="form-group">
            <label for="location-address" class="control-label col-md-2">
                Address
            </label>
            <div class="col-md-6">
                <div class="input-group">
                    <input id="location-address" type="search" class="form-control search-box" name="address-search" placeholder="Address (optional)">
                    <span class="input-group-addon search-clear"><i class="fa fa-times"></i></span>
                </div>
                <span class="help-block">Enter a complete address, or partial details such as the name of the town.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="location-postcode" class="control-label col-md-2">
                Postcode
            </label>
            <div class="col-md-6">
                <div class="input-group">
                    <input id="location-postcode" type="search" class="form-control search-box ui-autocomplete-input" name="__postcode" placeholder="Postcode (required if you want to do a distance search)" autocomplete="off">
                    <span class="input-group-addon search-clear"><i class="fa fa-times"></i></span>
                </div>
                <p class="validation-error invalid-postcode-fail hidden text-danger">
                    <i class="fa fa-warning"></i> Not a valid postcode
                </p>
            </div>
        </div>

        <div class="form-group disabled">
            <label for="radius" class="control-label col-sm-2">
                Maximum distance from postcode
            </label>
            <div class="col-md-6">
                <label class="radio-inline">
                    <input type="radio" name="dist" id="radius-1" value="1" checked="">
                    1km
                </label>
                <label class="radio-inline">
                    <input type="radio" name="dist" id="radius-3" value="3">
                    3km
                </label>
                <label class="radio-inline">
                    <input type="radio" name="dist" id="radius-5" value="5">
                    5km
                </label>
                <label class="radio-inline">
                    <input type="radio" name="dist" id="radius-10" value="10">
                    10km
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p class="text-danger hidden empty-search">
                    <i class="fa fa-exclamation-triangle"></i> Please put in a value for at least one of the search criteria.
                </p>
                <input type="submit" class="btn btn-primary btn-lg" value="search the register">
            </div>
        </div>
    </form>

</section>
{% include  '../../footer.html' %}
