
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

      {{ govukBackLink({
        text: "Back",
        href: "/"
      }) }}
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m">(1/7/20 - 14/7/20)</span>

        Sprint 1
      </h1>
      <p>
        This version begins to consider issues that were discovered in rounds of user testing earlier in the year.
      </p>



      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
      text: "View linear journey",
      href: "./search-all.html"
      }) }}

    </div>
  </div>

{% endblock %}
