
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        PRoD prototypes
<!--        <span class="govuk-caption-xl">{{releaseVersion}}</span>-->
      </h1>
      <h2 class="govuk-heading-m">Release candidates</h2>
      <ol class="govuk-list govuk-list--bullet">
        <li>
          <a href="/RC1/">Release candidate 1</a>
        </li>
      </ol>

      <h2 class="govuk-heading-m">Beta prototypes</h2>
      <ol class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v8/">Sprint 8 - (14/10/20 - 27/10/20)</a>
        </li>
        <li>
          <a href="/v7/">Sprint 7 - (30/10/20 - 13/10/20)</a>
        </li>
        <li>
          <a href="/v6/">Sprint 6 - (16/9/20 - 29/9/20)</a>
        </li>
      </ol>

      <h2 class="govuk-heading-m">Alpha prototypes</h2>
      <ol class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v5/">Sprint 5 - (2/9/20 - 15/9/20)</a>
        </li>
        <li>
          <a href="/v4/">Sprint 4 - (19/8/20 - 1/9/20)</a>
        </li>
        <li>
          <a href="/v3/">Sprint 3 - (5/8/20 - 18/8/20)</a>
        </li>
        <li>
          <a href="/v2/">Sprint 2 - (22/7/20 - 4/8/20)</a>
        </li>
        <li>
          <a href="/v1/">Sprint 1 - (1/7/20 - 21/7/20)</a>
        </li>
        <li>
          <a href="/v0/">Baseline version from Discovery</a>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
